#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "digiscreen"
name = "Digiscreen"
description.en = "An interactive wallpaper for the classroom, face-to-face or distant"
description.fr = "Un fond d'écran interactif pour la salle de classe en présence ou à distance."

version = "1.0.9~ynh1"

maintainers = ["Pierre-Amiel Giraud"]

[upstream]
license = "GPL-3.0-only"
website = "https://ladigitale.dev/"
demo = "https://ladigitale.dev/digiscreen/"
admindoc = "https://codeberg.org/ladigitale/digiscreen/src/branch/main/README.md"
userdoc = "https://ladigitale.dev/blog/digiscreen-un-fond-d-ecran-interactif-pour-la-classe"
code = "https://codeberg.org/ladigitale/digiscreen"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "500M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/digiscreen"

    [install.api_key_pixabay]
    ask.en = "Your Pixabay API key:"
    ask.fr = "Votre clé d’API Pixabay :"
    help.en = "Optional: a Pixabay API key will let you chose a background by entering keywords."
    help.fr = "Optionnel : une clé d’API Pixabay vous permettra de choisir un fond d’écran en entrant un mot clé."
    type = "string"
    example = "123456abc"
    optional = true

    [install.api_key_google_youtube]
    ask.en = "Your Google API key:"
    ask.fr = "Votre clé d’API Google :"
    help.en = "Optional: a Google API key will let you insert videos from Youtube on your Digiscreen"
    help.fr = "Optionnel : une clé d’API Google vous permettra d’afficher des vidéos de Youtube sur votre Digiscreen."
    type = "string"
    example = "123456abc"
    optional = true

    [install.init_main_permission]
    help.en = "If public, any visitor can use this app and thus will benefit from your API keys for Pixabay and Youtube."
    help.fr = "Si l’application est publique, n’importe quel visiteur pourra utiliser cette application et bénéficiera donc de vos clés d’API pour Pixabay et Youtube."
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://codeberg.org/ladigitale/digiscreen/archive/1.0.9.tar.gz"
    sha256 = "46bf3db0171d0822edc19236dfff919d43fcafb897f537a41ef9e20112808d5b"
    autoupdate.strategy = "latest_forgejo_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = [
        "mariadb-server",
        "php8.2-fpm",
    ]

    [resources.database]
    type = "mysql"

    [resources.nodejs]
    version = "22"